*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8; /* Light gray background color */
    color: #333; /* Dark gray text color */;
    margin: 50px; 
    padding: 50px;
    background-color: antiquewhite;
}

.Container {
    max-width: 1200px;
    margin: 20px auto;
}
.Header_2 {
    background-color: rgba(255, 238, 0, 0.267);
    color:aliceblue;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.Header_3 {
    background-color: rgba(255, 238, 0, 0.267);
    color:aliceblue;
    padding: 2px;
    text-align: center;
    font-size:100px;
    font-weight: 600;
    font-style: oblique;
}
.Border{
    border: 2px solid;
    padding: 10px;
    margin: 10px;
}

.Header{
    font-size: larger;
    border: 1px rgb(252, 240, 240);
    background-color: rgba(6, 12, 12, 0.877);
    text-align: center;
    color: brown;
    -webkit-transition: -webkit-transform 2s;
    }
.Header:hover{
        background: rgba(48, 49, 49, 0.856); /* Slightly darker blue on hover */  
        -webkit-transform:rotate(-1deg);
}
.top_header2{
    background-color: rgba(6, 12, 12, 0.877);
}
#top_header {
    background-color: rgba(255, 238, 0, 0.267);
    }

#top_header ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#top_header li {
    margin: 10px;
}

#top_header button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: rgba(235, 235, 233, 0.267);; /* Blue background color */
    border: none;
    cursor: pointer;
}

#top_header button:hover {
    background: rgba(255, 238, 0, 0.267);
}